<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 offset-sm-1 padding transit-block">
            <img src="/assets/icons/send-fill.svg"  id="adjust-transit" class="adjust-icon" alt="">
            <label class="label-name transit">In Transit</label>
            <label class="label-no">9</label>
        </div>
        <div class="col-sm-2 padding position-relative pending-result-block">
            <img src="/assets/icons/hourglass-split.svg" id="pending-result" class="adjust-icon" alt="">
            <label class="label-name pending-result">Pending Results</label>
            <label class="label-no">2</label>
        </div>
        <div class="col-sm-2 padding position-relative result-pass-block">
            <img src="/assets/icons/check-square.svg" id="result-pass" class="adjust-icon" alt="">
            <label class="label-name result-pass">Result Pass</label>
            <label class="label-no">6</label>
        </div>
        <div class="col-sm-2 padding position-relative result-fail-block">
            <img src="/assets/icons/x-square.svg" id="result-fail" class="adjust-icon" alt="">
            <label class="label-name result-fail">Result Fail</label>
            <label class="label-no">4</label>
        </div>
    </div>

    <div class="divider-line"></div>

    <div class="search">
        <label for="">search: </label>
        <input type="text" placeholder="">
        <img src="/assets/icons/download.svg" alt="">
    </div>
    <table class="table table-striped table-bordered">
        <thead class="">
          <tr>
            <th scope="">Product</th>
            <th scope="">Batch</th>
            <th scope="">Stage</th>
            <th scope="">Enquipment</th>
            <th scope="">Test Name</th>
            <th scope="">Created at</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>DS4</td>
            <td>001</td>
            <td>ICE Filteration</td>
            <td>4R33</td>
            <td class="testname">DS-3 organic layer after ICE filteration</td>
            <td>24-04-2022 10:30 AM</td>
        </tr>
          <tr>
            <td>DS4</td>
            <td>001</td>
            <td>ICE Filteration</td>
            <td>4R33</td>
            <td class="testname">DS-3 organic layer after ICE filteration</td>
            <td>24-04-2022 10:30 AM</td>
          </tr>
          <tr>
            <td>DS4</td>
            <td>001</td>
            <td>DS4 Reaction</td>
            <td>3R35</td>
            <td class="testname">DS4 Reaction</td>
            <td>24-04-2022 10:30 AM</td>
          </tr>
          <tr>
            <td>DS4</td>
            <td>001</td>
            <td>DS4 Reaction </td>
            <td>1R32 </td>
            <td class="testname">ds3 Reaction after stb addition:</td>
            <td>24-04-2022 10:30 AM</td>
          </tr>
          <tr class="empty-table-row">
            <td colspan="6">Showing 1 to 4 of 4 entries </td>
          </tr>

        </tbody>
      </table>

</div>

